version: '3.9'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    ports:
      - "9000:9000"
    env_file:
      - .env
    volumes:
      - ./uploads:/app/uploads
    working_dir: /app
    command: >
      sh -c "
      uv sync &&
      uv run uvicorn app.main:app --host 0.0.0.0 --port 9000
      "
